torch>=1.9.0
torch_geometric
# transformers>=4.28.1
git+https://github.com/huismiling/transformers.git@mlu-dev
git+https://github.com/huismiling/accelerate.git@mlu-dev
SentencePiece
rdkit
pandas
scanpy
einops
local_attention